<div class="card">
    <div class="card-header text-center">
        <h3>Certificar registro de usuarios</h3>
    </div>
    <div class="card-body">
        <table #dataTable class="table table-bordered table-hover table-striped">
        </table>

        <div class="row m-2">
            <ng-template #modalAprobar let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">
                        Asignación de rol para:
                        <span class="badge badge-success">{{ usuarioSelected.userName }}</span>
                    </h5>
                </div>
                <div class="modal-body">
                    <ng-select *ngIf="roles" [items]="roles" bindLabel="nombre" bindValue="roleId" style="width: 100%" [(ngModel)]="rolSelected" placeholder="Asignar rol"></ng-select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cerrarModalAsignacion()">
          Cerrar
        </button>
                    <button type="button" class="btn btn-primary" (click)="guardarAsignacion()">
          Guardar
        </button>
                </div>
            </ng-template>
        </div>
    </div>
</div>

<loading *ngIf="loading === false"></loading>