
<div class="row">
  <!-- <div class="col col-md-6">
    <div>
        <app-image-viewer [images]="[image]"
        [fullscreen]=false
        [download]=false
        [showPDFOnlyOption]=false
       [idContainer]="'idOnHTML'"
       [loadOnInit]="true"
       style="height: 100px; width: 150px;"></app-image-viewer>
    </div>    
  </div> -->
  <div class="col col-12">
      <div class="card">          
          <div class="card-body">
            <div class="row">
                <div class="col col-6">
                    <h5 class="card-title">Captura de Información</h5>                    
                </div>
                <div  class="col col-6 text-right">
                    <button type="button" class="btn btn-outline-danger" 
                    aria-label="Left Align" (click)="descartarDocumento()">                    
                      <fa name="arrow-circle-right" size="2x"></fa> 
                      </button>                    
                </div>                       
            </div>            
          
            <p class="card-text">Digite la información visualizada en la imagen</p>  
            <div *ngIf="converted_image">
              <div class="jumbotron">
                <!-- <img [src]="converted_image" style="width:100%" 
                class="img-fluid img-thumbnail img-responsive mx-auto d-block rounded"> -->

                <img [src]="converted_image"
                class="img-fluid img-thumbnail img-responsive mx-auto d-block rounded">
              </div> 
              <div class="form-group" *ngIf="fields">
                <!-- <input type="text" class="form-control" placeholder="Ingrese información" 
                autofocus="autofocus"> -->
                  <dynamic-form-builder (onSubmit)="guardarCaptura($event)" [fields]="fields">                    
                  </dynamic-form-builder>
              </div>   
            </div>            
          </div>
          <!-- <div class="card-footer">   
          </div>           -->
        </div>      
  </div>
</div>



