
<div class="row" *ngIf="converted_image; else loading">
  <div class="col col-12">
      <div class="card">          
          <div class="card-body">
            <div class="row">
                <div class="col col-6">
                    <h5 class="card-title">Captura de Información</h5>                    
                </div>
                <div  class="col col-6 text-right">
                    <button type="button" class="btn btn-outline-danger" 
                    aria-label="Left Align" (click)="descartarDocumento()">                    
                      <fa name="arrow-circle-right" size="2x"></fa> 
                      </button>                    
                </div>                       
            </div>            
          
            <p class="card-text">Digite la información visualizada en la imagen</p>  
            <div>
              <div class="jumbotron">
                <img [src]="converted_image"
                class="img-fluid img-thumbnail img-responsive mx-auto d-block rounded">
              </div> 
              <div class="form-group" *ngIf="fields">
                  <dynamic-form-builder (onSubmit)="guardarCaptura($event)" [fields]="fields">                    
                  </dynamic-form-builder>
              </div>   
            </div>            
          </div>

          <!-- <div class="row m-2">
            <ng-template #modalConfirm let-modal>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirmación</h5>
                </div>
                <div class="modal-body">
                    Usted ha diligenciado {{ campodiligenciado }}?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="guardarCaptura()">Guardar</button>
                </div>
            </ng-template>
        </div> -->

        <div class="row m-2">
          <ng-template #modalDescarte let-modal>
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Confirmación</h5>
              </div>
              <div class="modal-body">
                <ng-select *ngIf="motivosDescarte" [items]="motivosDescarte" bindLabel="motivo" 
                bindValue="motivo" style="width: 100%" [(ngModel)]="motivoSelected" 
                placeholder="Motivo Descarte"></ng-select>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="cerrarModalDescarte()">Cerrar</button>
                  <button type="button" class="btn btn-primary" (click)="guardarMotivoDescarte()">Guardar</button>
              </div>
          </ng-template>
      </div>

        </div>      
  </div>
</div>

<ng-template #loading>
    <loading></loading>
</ng-template>


