<!-- <div class="jumbotron">
  <h1 class="col col-10 offset-sm-1 text-center inicio">
    Bienvenido a TensoTap
  </h1>
</div> -->

<!-- <div style="display: block;">
  <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div> -->

<button class="btn btn-outline-success m-2" (click)="ObtenerCapturas(false)">
Historial
</button>
<button class="btn btn-outline-primary m-2" (click)="ObtenerCapturas(true)">
  Mes Actual
  </button>
<table
    #dataTable    
    class="table table-bordered table-hover table-striped">
  </table>
